.wrapper {
  margin: 25px 0;
}

.thumbnail {
  width: 100% !important;
}

.carousel {
  margin: 20px 0 0 0;
}

.screenshot {
  width: 100% !important;
  height: 250px !important
}

@media (min-width: 576px) {
  .screenshot {
    height: 350px !important;
  }
}

@media (min-width: 768px) {
  .screenshot {
    height: 275px !important;
  }
}

@media (min-width: 1200px) {
  .screenshot {
    height: 400px !important;
  }
}

@media (min-width: 1600px) {
  .screenshot {
    height: 450px !important;
  }
}

.name {
  margin: 0.5em 0 !important;
  font-size: 24px !important;
}

@media (min-width: 768px) {
  .name {
    font-size: 26px !important;
  }
}

@media (min-width: 992px) {
  .name {
    margin: 0 0 0.5em 0 !important;
  }
}

@media (min-width: 1600px) {
  .name {
    font-size: 28px !important;
  }
}

.section-title {
  margin: 0.5em 0 !important;
  font-size: 22px !important;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 24px !important;
  }
}

@media (min-width: 1600px) {
  .section-title {
    font-size: 26px !important;
  }
}

.descriptions td {
  padding-bottom: 10px !important;
}

.descriptions span {
  font-size: 14px !important;
}

@media (min-width: 768px) {
  .descriptions span {
    font-size: 16px !important;
  }
}

@media (min-width: 1600px) {
  .descriptions span {
    font-size: 18px !important;
  }
}
