.body {
  position: relative !important;

  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;

  background-color: transparent;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .main {
    padding: 0 40px;
  }
}

@media (min-width: 1600px) {
  .main {
    padding: 0 60px;
  }
}
