*,
*::before,
*::after {
  box-sizing: border-box;
}

*:disabled {
  cursor: default;

  pointer-events: none;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

