.header {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 100%;
  min-height: 70px;

  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
}

.row {
  width: 100%;
}

.logo {
  display: block;
  margin: 0 auto;

  object-fit: contain;
}

@media (max-width: 576px) {
  .logo {
    width: 160px;
    height: 40px;
  }
}

@media (min-width: 576px) {
  .logo {
    width: 200px;
    height: 50px;
  }
}
